@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: #3aafa9;
    font-family: 'Poppins', sans-serif;
}

.row-1,
.row-2,
.row-3 {
    display: flex;
}

.box {
    float: left;
    border: 2px solid #2b7a78;
    border-radius: 20px;
    margin: 50px;
    overflow: hidden;
    background-color: #def2f1;
    filter: drop-shadow(30px 10px 4px rgba(114, 100, 100, 0.5));
}

.boxes {
    width: 120px;
    height: 120px;
    border: 1px solid #2b7a78;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    color: #2b7a78;
}
#state{
    display: flex;
    justify-content: center;
}
#match-info{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.switch{
  
  
    text-align:center;
    margin:8px;
    background-color:#2B7A78;
    height:50px;
    width:200px;
    display:flex;
    border-radius:10px;
 
}
.btn{
    width:100px;
    height:50px;
    border:none;
    border-radius:10px;
    font-family:'Poppins';
    font-weight:bold;
    background-color:transparent;
}

.active{
    background-color:#DEF2F1;
}

.showScore{
    text-align:center;
    font-weight:bold;
    display:flex;
    justify-content: center;
}

/* .switch button{
    background-color:#DEF2F1;
    width:100px;
    height:50px;
    border:none;
    border-radius:10px;
} */
.divss{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;

}